html{
	background-color: lightgray;
	color: black;
	font-family: georgia, sans-serif, tahoman, arial;
	
}

h1{
	padding: 10px;
	margin: 0;
	background-color: #333;
	color: white;
	text-align: center;
	border: none;
	border-radius: 10px;
}

p{
	padding: 10px;
	mragin-top: 20px;
	background-color: #000;
	color: lime;
	border-radius: 10px;
}